name: Run Cypress Tests on Multiple Browsers

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run_tests:
    strategy:
      matrix:
        browser: [chrome, firefox, edge]
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Clean Screenshots Folder
      run: |
        if [ -d "cypress/screenshots" ]; then
          rm -rf cypress/screenshots
        fi

    - name: Run Cypress Tests on ${{ matrix.browser }}
      env:
        BROWSER: ${{ matrix.browser }}
      run: |
        npx cypress run --browser $BROWSER

    - name: Upload Screenshots for ${{ matrix.browser }}
      uses: actions/upload-artifact@v4
      with:
        name: screenshots-${{ matrix.browser }}
        path: cypress/screenshots
